<div class="tweet">
  <p class = "tweet-text"><%= tweet.text %></p>
  <div class="tweet-name">
    <% if user_signed_in? %>
      <a href="/users/<%= tweet.user.id %>">
        <span>投稿者：</span><%= tweet.user.name %>
     </a>
    <% else %>
      <a href="/users/sign_in">
        <span>投稿者：</span><%= tweet.user.name %>
      </a>
    <% end %>   
  </div>
  <div id="like-btn<%= tweet.id %>">
    <% if user_signed_in? %>
      <%= render partial: "likes/like", locals: { tweet: tweet } %>
    <% end %>
  </div>
</div>
